<div class="banner">
  <center><div class="name", style="font-size: 2em">Petesta's Blog</div></center>
</div>
<div class="row">
<div class="span-6.5 offset-5">
  <%= form_tag sessions_path do %>

    <center><%= label_tag :email %>
    <%= email_field_tag :email, '',  autofocus: true %>

    <div id="email_space"></div>

    <%= label_tag :password %>
    <%= password_field_tag :password, '', autofocus: true %>

    <div id="pw_space"></div>

    <%= submit_tag "Log In", class: "btn btn-blue btn-large" %>
    </center>
  <% end %>
</div>
</div>
