<div class="row">
  <%= render 'posts/sidebar' %>
  <div class="span-10 offset-1 posts-container">
    <% @posts.each do |post| %>
      <div class="post">
        <p class="post-date"><%= Date.today.to_formatted_s(:long) %></p>
        <div class="post-title">
          <h2><%= post.title %></h2>
        </div>
        <div class="post-content">
          <%= post.body %>
        </div>
      </div>
    <% end %>

    <%= will_paginate @posts %>

    <% if signed_in? %>
      <%= link_to "Create new post", new_post_path, {class: "btn btn-blue", id: "new-post"} %>
    <% end %>
  </div>
</div>
