<%= form_for @post do |f| %>
  <div class="new-post-title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="new-post-body">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="submit"><%= f.submit 'Save Post', class: "btn btn-blue btn-large"  %></div>
<% end %>
