<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header>
    <div class="slim" id="barHolder">
      <div class="bar">
        <div class="nav">
          <div class="span-4 offset-2 link-container"</div>
            <p><%= link_to "Petesta", "/", id: "one" %></p>
            <%= link_to image_tag('github-logo.png', size: "35x35"), "http://github.com/Petesta" %>
            <%=link_to image_tag('linkedin-logo.png', size: "35x35"), "http://www.linkedin.com/in/petecruz/" %>
            <%= link_to image_tag('twitter-logo.png', size: "35x35"), "http://twitter.com/iPetesta" %>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
      <%= yield %>
  </div>

  <% if signed_in? %>
    <p> Signed in as <%= current_user.email %> </p>
  <% end %>

  <footer>
    <a class="twitter-link" href="https://twitter.com/iPetesta">@iPetesta</a>
  </footer>
</body>
</html>
