<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  <% if signed_in? %>
    <p> Signed in as <%= current_user.email %> </p>
  <% end %>
  
  <header>
    <div id="barHolder" class="slim">
      <div class="bar">
        <div class="nav">
          <div class="span-8 offset-2"</div>
            <a href="https://github.com/Petesta">Github</a>
            <a href="http://www.linkedin.com/profile/view?id=210040746&trk=nav_responsive_tab_profile">LinkedIn</a>
        </div>
      </div>
    </div>
  </header>
  <%= render 'sidebar' %>
  <div class="container">
    <%= yield %>
  </div>

  <footer>
    Pete Cruz
  </footer>
</body>

</html>
