<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <% if controller.controller_name != "home" %>
    <header>
      <%= link_to "Home", "/", class: "btn btn-primary btn-home" %>

      <div class="container">
        <div class="row">
          <div class="header-info span-16">
            <p> Blog : : Petesta -> [ Posts ] </p>
          </div>
        </div>
      </div>
    </header>
  <% end %>

  <%= yield %>

  <% if signed_in? %>
    <p> Signed in as <%= current_user.email %> </p>
  <% end %>

  <footer></footer>
</body>
</html>
