<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

  
  <header>
    <div id="barHolder" class="slim">
      <div class="bar">
        <div class="nav">
          <div class="span-8 offset-2 link-container"</div>
            <p><%= link_to "Petesta", "/", id: "one" %></p>
            <a class="link1" href="https://github.com/Petesta">Github</a>
            <a class="link2" href="http://www.linkedin.com/profile/view?id=210040746&trk=nav_responsive_tab_profile">LinkedIn</a>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
  <%= render 'posts/sidebar' %>
    <%= yield %>
  </div>
  <% if signed_in? %>
    <p> Signed in as <%= current_user.email %> </p>
  <% end %>

  <footer>
    Pete Cruz
  </footer>
</body>

</html>
